h1 Articles
= react_component('News')
/ table.table.table-hover
/   thead
/     tr
/       th #
/       th Header
/       th Actions
/   tbody
/     = render partial: "article", collection: @articles
